
div#zen-supporting h3{
color: rgb(255, 255, 255);
text-align: left;
box-shadow: 5px 5px 20px black;
padding-left: 4px;
font-size: large;
}
ul{
    list-style: circle;
}

abbr{
    text-decoration: none;
}

#css-zen-garden{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(222, 231, 231);
    font-size: medium;
    background-image:url(https://img.freepik.com/photos-gratuite/rayons-soleil-brillant-dans-mer-poissons-sous-mer_1360-54.jpg?w=1380&t=st=1666880653~exp=1666881253~hmac=372fa0cdb079350621bce010b35f086943337e7f646c84fefc12cb0007b80495);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
}

.page-wrapper{
    display:flex;
    flex-flow: row wrap;
}

div#zen-supporting{
    text-align: justify;  
    font-size: small;
    background-color: rgba(128, 128, 128, 0.158);
    box-shadow: 5px 5px 20px black;
    padding: 2em;
}

[role="banner"]{
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: 5px 5px 20px black;
    border: solid 2px white;
    text-align: right;
    padding-right: 3em;
    font-size: x-large;
}

.design-selection{
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: 5px 5px 20px black;
}

.design-selection a{
    font-size: 1.1em;
    font-weight: 900;
    color: rgba(250, 235, 215, 0.466);
}

.design-archives{
    background-color: rgba(128, 128, 128, 0.301);
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-direction: row;
    padding-left: 11.7vw;
}

.design-archives h3{
}

.design-archives nav ul{
    display: flex;
}

.design-archives nav ul li{
    display: flex;
    flex-flow: row wrap;
    margin: 2px 25px;
    align-content: center;

}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#zen-preamble{
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: 5px 5px 20px black;
    padding: 0.5em 4em;
}

#zen-summary{
    background-color: rgba(0, 0, 0, 0.199);
    box-shadow: 5px 5px 20px black;
    padding-left: 3em;
}

div#zen-resources {
    width: 84vw;
    background-color: rgba(128, 128, 128, 0.301);
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-direction: row;
    padding-left: 11.7vw;
}

div#zen-resources ul {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

div#zen-resources ul li{
    display: flex;
    flex-flow: row wrap;
    margin: 2px 25px;
    align-content: center;
}
